@charset "utf-8"; 
/* CSS Document */

.MessageBox {
color: #1A284B;
display: block;
margin: 0 auto;
position: absolute;
text-align: center;
width: 100%;
z-index: 999;
font: 20px Lobster13Regular;
}

.Information span {
background: none repeat scroll 0 0 #C6CCD4;
border-radius: 0 0 5px 5px;
padding: 5px 10px 10px;
}

/* CSS Document */